@charset'UTF-8';

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

.game {
        width: 100%;
        height: 500px;
        border-bottom: 15px solid green;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: linear-gradient(#87ceeb, #e0f6ff);
}

.gameOver {
        width: 0;
}

.clouds {
        position: absolute;
        top: 60px;
        width: 250px;
        animation: clouds-animation 15s linear infinite;
}

@keyframes clouds-animation {
        from {
                right: -250px;
        }
        to {
                right: 100%;
        }
}
.pipe {
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 80px;
        animation: pipe-animation 2.8s infinite linear;
}

@keyframes pipe-animation {
        from {
                right: -80px;
        }
        to {
                right: 100%;
        }
}

.mario {
        width: 150px;
        position: absolute;
        bottom: 0;
}

.jump {
        animation: mario-jump 500ms ease-out;
}

@keyframes mario-jump {
        0% {
                bottom: 0;
        }
        40% {
                bottom: 160px;
        }
        50% {
                bottom: 180px;
        }
        60% {
                bottom: 160px;
        }
        100% {
                bottom: 0;
        }
}

footer {
        position: absolute;
        bottom: 3px;
        right: 5px;
}

footer > p > a {
        text-decoration: none;
        color: black;
}